<div header></div>

<div categories></div>

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-12">
			<h1>О сервисе</h1>
			<p>Автор: <a ref="http://twitter.com/yuraloginoff">Юра Логинов</a>
			<p>Код сайта: <a href="https://github.com/yuraloginoff/alkomap.ru">github</a>

			<p>Использовано:
			<ul>
				
				<li><a href="http://angularjs.org/">AngularJS</a></li>
				<li><a href="https://developer.foursquare.com/">Foursquare API</a></li>
				<li><a href="https://developers.google.com/maps/documentation/javascript/">Google Maps Javascript API v3</a></li>
				<li><a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a></li>
				<li><a href="http://chieffancypants.github.io/angular-loading-bar/">Angular Loading Bar</a></li>
				<li><a href="https://github.com/jirikavi/AngularJS-Toaster">AngularJS Toaster notifications</a></li>
				<li><a href="http://bootswatch.com/flatly/">Twitter Bootstrap Flatly theme</a></li>
			</ul>
		</div>
	</div>
</div>